
.sec {
  margin-top: 20px;
  text-align: center;
  margin-right: 10%;
  margin-left: 10%;
}

/* ICON & BANNER */



@media screen and (max-width: 992px) {
  .pagelistblock {
    display: none;
  }
  #archive {
    margin-right: 0;
    margin-left: 0;
  }
}

.icon {

}

.banner {

}
img {
  display: inline-block;
}

/* LINK BOX */



.linkbox {
  border: 1px;
  border-style: solid;
  width: 100%;
  height: 50px;
}

/* AD BOX */



.adbox {
  border: 1px;
  border-style: solid;
  width: 100%;
  height: 50px;
}

/* ARCHIVE */

.pagelistblock {
  border: 1px;
  border-style: solid;
}
.pageblock {
  border: 1px;
  border-style: solid;
}

@keyframes fadeinall {

0% {

  opacity: 1; }

97% {

  opacity: 0; }

98% {

  opacity: 0;

  -webkit-transform: translateY(0);

  transform: translateY(0); }

99% {

  opacity: 0;

  -webkit-transform: translateY(-100%);

  transform: translateY(-100%); }

100% {

  opacity: 0;

  z-index: -1; } }

#loader {

  opacity: 1;

  position: fixed;

  width: 100%;

  height: 100%;

  -webkit-transform: translateY(0);

  -ms-transform: translateY(0);

  transform: translateY(0);

  background-color: #fff;

  z-index: 999;

  -webkit-animation-fill-mode: forwards;

  animation-fill-mode: forwards;

  -webkit-animation: fadeinall 1s normal both;

  animation: fadeinall 1s normal both;

  -webkit-animation-delay: 0.3s;

  animation-delay: 0.3s; 
}

